# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2124914400029,
 'week52high': 146.43,
 'week52low': 52.77,
 'week52highSplitAdjustOnly': 151.96,
 'week52lowSplitAdjustOnly': 53.72,
 'week52change': 0.7008403781465566,
 'sharesOutstanding': 17450440030,
 'float': 0,
 'avg10Volume': 141575907,
 'avg30Volume': 107304045,
 'day200MovingAvg': 127.35,
 'day50MovingAvg': 133.1,
 'employees': 153999,
 'ttmEPS': 3.81,
 'ttmDividendRate': 0.8255390203127836,
 'dividendYield': 0.00699824945789742,
 'nextDividendDate': '0',
 'exDividendDate': '2021-01-25',
 'nextEarningsDate': '2021-01-20',
 'peRatio': 33.24768797451786,
 'beta': 1.182180603363249,
 'maxChangePercent': 46.801798652009,
 'year5ChangePercent': 4.147224750489653,
 'year2ChangePercent': 1.831529515803549,
 'year1ChangePercent': 0.7002295377197308,
 'ytdChangePercent': -0.0868748201312864,
 'month6ChangePercent': 0.007206962160112268,
 'month3ChangePercent': -0.00552364924159245,
 'month1ChangePercent': -0.11744189114634462,
 'day30ChangePercent': -0.0960663262632194,
 'day5ChangePercent': 0.0013601235126844313}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [4]:
data['year1ChangePercent']

0.7002295377197308

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  119.03              0.477813                     N/A
1      AAL   21.16               0.27618                     N/A
2      AAP  173.45              0.364093                     N/A
3     AAPL  123.41              0.680236                     N/A
4     ABBV  109.10              0.251477                     N/A
..     ...     ...                   ...                     ...
500    YUM  109.45              0.176063                     N/A
501    ZBH  158.90              0.237841                     N/A
502   ZBRA  479.26               1.40643                     N/A
503   ZION   56.41              0.609801                     N/A
504    ZTS  152.72             0.0505057                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker    Price One-Year Price Return Number of Shares to Buy
0    VIAC    76.58               2.63538                     N/A
1     FCX    36.22               2.51492                     N/A
2    CARR    37.73               2.11299                     N/A
3    SIVB   508.95               1.81614                     N/A
4   DISCA    64.57               1.60603                     N/A
5     URI   306.57               1.57253                     N/A
6    ZBRA   479.26               1.40643                     N/A
7      LB    56.88               1.39844                     N/A
8    ALGN   550.40               1.36015                     N/A
9   DISCK    53.00               1.28375                     N/A
10   NWSA    24.89               1.25442                     N/A
11     DE   360.10               1.24238                     N/A
12    PWR    86.30               1.15886                     N/A
13   PYPL   247.47               1.15221                     N/A
14    NWS    24.40               1.13469                     N/A
15    GPS    27.34               1.05312                     N/A
16    FDX   269.11               1.04297                     N/A
17    EMN   118.64               1.03071                     N/A
18     MS    82.27              0.977141                     N/A
19   IDXX   518.30              0.970501                     N/A
20   AMAT   116.39               0.95846                     N/A
21   ABMD   304.28              0.950845                     N/A
22   KLAC   303.54               0.92614                     N/A
23   TWTR    69.24              0.922422                     N/A
24   CDNS   129.55              0.910166                     N/A
25    TPR    43.48              0.909491                     N/A
26   SCHW    65.74              0.906816                     N/A
27    MOS    31.06              0.885145                     N/A
28   APTV   147.61              0.878759                     N/A
29    IVZ    24.28              0.875484                     N/A
30    CAT   229.24              0.873413                     N/A
31     IR    50.86              0.872304                     N/A
32    CMI   274.61              0.865542                     N/A
33   LRCX   567.60              0.862422                     N/A
34    CMG  1339.60              0.860873                     N/A
35    UPS   167.10              0.851332                     N/A
36    MGM    37.38              0.845501                     N/A
37   NVDA   502.02              0.843898                     N/A
38   EXPE   168.02              0.837576                     N/A
39      F    12.85              0.828105                     N/A
40   SWKS   177.59              0.818053                     N/A
41    NWL    25.79              0.816219                     N/A
42     GM    55.46              0.803056                     N/A
43     DD    74.33              0.793122                     N/A
44   QRVO   178.08              0.784339                     N/A
45    ALB   149.08              0.755742                     N/A
46   AVGO   456.55              0.747812                     N/A
47    AMP   224.30              0.726578                     N/A
48    WST   266.90              0.726229                     N/A
49    UAA    23.26              0.722411                     N/A
50     PH   301.22              0.719953                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [8]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:10000000
10000000

In [9]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

C:\Users\dhoch\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker    Price One-Year Price Return Number of Shares to Buy
0    VIAC    76.58               2.63538                    2560
1     FCX    36.22               2.51492                    5413
2    CARR    37.73               2.11299                    5196
3    SIVB   508.95               1.81614                     385
4   DISCA    64.57               1.60603                    3036
5     URI   306.57               1.57253                     639
6    ZBRA   479.26               1.40643                     409
7      LB    56.88               1.39844                    3447
8    ALGN   550.40               1.36015                     356
9   DISCK    53.00               1.28375                    3699
10   NWSA    24.89               1.25442                    7877
11     DE   360.10               1.24238                     544
12    PWR    86.30               1.15886                    2272
13   PYPL   247.47               1.15221                     792
14    NWS    24.40               1.13469                    8036
15    GPS    27.34               1.05312                    7171
16    FDX   269.11               1.04297                     728
17    EMN   118.64               1.03071                    1652
18     MS    82.27              0.977141                    2383
19   IDXX   518.30              0.970501                     378
20   AMAT   116.39               0.95846                    1684
21   ABMD   304.28              0.950845                     644
22   KLAC   303.54               0.92614                     645
23   TWTR    69.24              0.922422                    2831
24   CDNS   129.55              0.910166                    1513
25    TPR    43.48              0.909491                    4509
26   SCHW    65.74              0.906816                    2982
27    MOS    31.06              0.885145                    6312
28   APTV   147.61              0.878759                    1328
29    IVZ    24.28              0.875484                    8075
30    CAT   229.24              0.873413                     855
31     IR    50.86              0.872304                    3855
32    CMI   274.61              0.865542                     714
33   LRCX   567.60              0.862422                     345
34    CMG  1339.60              0.860873                     146
35    UPS   167.10              0.851332                    1173
36    MGM    37.38              0.845501                    5245
37   NVDA   502.02              0.843898                     390
38   EXPE   168.02              0.837576                    1166
39      F    12.85              0.828105                   15259
40   SWKS   177.59              0.818053                    1104
41    NWL    25.79              0.816219                    7602
42     GM    55.46              0.803056                    3535
43     DD    74.33              0.793122                    2637
44   QRVO   178.08              0.784339                    1101
45    ALB   149.08              0.755742                    1315
46   AVGO   456.55              0.747812                     429
47    AMP   224.30              0.726578                     874
48    WST   266.90              0.726229                     734
49    UAA    23.26              0.722411                    8429
50     PH   301.22              0.719953                     650

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [10]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [11]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [12]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

TypeError: can't convert type 'str' to numerator/denominator

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

## Saving Our Excel Output

As before, saving our Excel output is very easy: